<th>{{burger_name}}</th>
<th>
	<button type="button" class="btn btn-xs btn-info" id="change-devoured" data-id="{{id}}" data-newsdevoured="{{devoured}}">
	Eat This!
	</button>

    <button type="button" class="btn btn-xs btn-danger" id="delete-cat" data-id="{{this.id}}">
    DELETE!
    </button>
 </th>    